div.main_header {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--lighter);
  box-shadow: 3px 3px 6px 0px #b9b9b9;
  padding: 0 32px;

  h2 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  grid-area: header;
}
