.app_container {
  min-height: 100vh;
  background-color: var(--light);
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: 96px auto;
  grid-template-areas: 'sidebar header' 'sidebar content';
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  padding: 32px 32px 0 32px;
  grid-area: content;
  min-height: calc(100vh - 96px - 32px); // 96px from header and 32px from top padding
  overflow-y: auto;
}

.not_authenticated_container {
  min-height: 100vh;
  background-color: var(--lighter);
}
